<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="qsg" padding no-bounce class="vertical-align-content">

    <div style="text-align:center;width:100%;">
        <img (click)="weighingSuccessful();" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen-8.2_8.3_Finish-Feeding.gif" />

        <h1 ion-text>Measure the volume</h1>
        <p>
            The purple light indicates that the end volume of the feed was measured succesfully, and the feeding is finished.
        </p>
    </div>
</ion-content>

<ion-footer class="qsg" padding>
    <button color="{{ !weighingDone ? 'light' : 'secondary'}}" ion-button block icon-start>
        <ion-icon *ngIf="!weighingDone">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="weighingDone" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ !weighingDone ? 'Waiting for start volume' : 'Start volume measured' }}
    </button>
</ion-footer>