<ion-header>
    <ion-navbar>
        <ion-title>
            Bluetooth Settings
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="scan();fakeScan=true;">
                Scan
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngIf="connectedDevice">
            <button ion-item (click)="write(connectedDevice.id)">
                Resend data
            </button>
            <button ion-item (click)="sendFirmware(connectedDevice.id)">
                Send firmware
            </button>
            <button *ngIf="connectedDevice" ion-item (click)="disconnect(connectedDevice)">
                Disconnect
            </button>
            <button ion-item (click)="subscribeToState(connectedDevice.id)">
                Subscribe to state
            </button>
            <div ion-item>
                {{ currentState }}
            </div>
        </div>
        <div *ngIf="!connectedDevice">
            <div *ngFor="let device of devices">
                <button ion-item (click)="connect(device)">
                    <h2>{{ device.name || 'Unnamed' }}</h2>
                    <p>{{ device.id }}</p>
                    <p>RSSI: {{ device.rssi }}</p>
                </button>
            </div>

        </div>
    </ion-list>
</ion-content>

<!-- <ion-footer>
    <ion-toolbar>
        <p>{{ statusMessage }}</p>
    </ion-toolbar>
</ion-footer> -->