.hardware-available {
    height: 60%;
}

.no-hardware-available {
    background-color:whitesmoke;
    height: 40%;   
}

.sleeve-image {
    display: flex;
    margin: 0 auto;
    // margin-top: 30px;
    // margin-bottom: 40px;
    max-height: 250px;
}