.hardware-available {
    height: 60%;
}

.no-hardware-available {
    background-color:whitesmoke;
    height: 40%;   
}

.sleeve-image {
    display: flex;
    margin: auto;
    margin-top:30px;
    max-height: 250px;
}