<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="qsg" padding no-bounce class="vertical-align-content">

    <div style="text-align:center;width:100%;">
        <img (click)="buttonPress();" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen 8.1_Finish Feeding.gif" />

        <h1 ion-text>Finish a feed
            <br>by pressing the button</h1>
        <p>
            Press the button shortly to finish the feed. The blinking white light indicates the Smart Bottle Sleeve is ready to measure
            the feed’s end volume.
        </p>
    </div>
</ion-content>

<ion-footer class="qsg" padding>
    <button color="{{ !buttonPressed ? 'light' : 'secondary'}}" ion-button block icon-start>
        <ion-icon *ngIf="!buttonPressed">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="buttonPressed" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ !buttonPressed ? 'Waiting for button press' : 'Button pressed' }}
    </button>
</ion-footer>