<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="qsg" padding no-bounce class="vertical-align-content">
    <div style="text-align:center;width:100%;">
        <img (click)="buttonPress();" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen-5.1_5.2_B-Weight-start-volume-on-table_cropped.gif" />

        <h1 ion-text>First Volume Measurement Before Feeding</h1>
        <p>
            Place the sleeve on a flat and hard surface and short press the button.
        </p>
        <p>
            The light turns green when the feed's volume measurement is successful.
        </p>

    </div>
</ion-content>

<ion-footer class="qsg" padding>
    <button color="{{ hasMeasured ? 'secondary' : 'light'}}" ion-button block icon-start (click)="nextStep();">
        <ion-icon *ngIf="!hasMeasured">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="hasMeasured" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ isMeasuring ? 'Measuring' : hasMeasured ? 'Volume Measured' :  'Waiting for Button Press'}}
    </button>
</ion-footer>