<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce class="vertical-align-content">

    <div style="text-align:center;width:100%;">
        <img (click)="weighingSuccessful();" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen 5.1_Measure start volume.gif" />

        <h1 ion-text>Measure the volume</h1>
        <p>
            Place the tracker on a flat and hard surface to measure the start volume. The light turns green when the measurement is successful.
        </p>
    </div>
</ion-content>

<ion-footer padding>
    <button color="{{ !weighingDone ? 'light' : 'secondary'}}" ion-button block icon-start>
        <ion-icon *ngIf="!weighingDone">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="weighingDone" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ !weighingDone ? 'Waiting for start volume' : 'Start volume measured' }}
    </button>
</ion-footer>