<ion-header>
  <ion-navbar>
    <ion-title>
      Feeding Journal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="fakeScan">
    <img src="assets/imgs/cute-baby-banner.jpg" />
    <ion-card-header>
      One new feed available on your sleeve!
    </ion-card-header>

    <ion-item>

      <button ion-button icon-left clear item-end (click)="fakeScan=false;fakeFeeds=true;addFakeFeeds();">
        <ion-icon name="sync"></ion-icon>
        Synchronize
      </button>
    </ion-item>

  </ion-card>

  <ion-card *ngFor="let feed of feeds | async" (click)="openFeedModal(feed)">
    <ion-item>
      <ion-icon color="{{ feed.type == 'smart' ? 'secondary' : 'primary' }}" name="water" item-left large></ion-icon>
      <h2>{{ feed.amount | number : '1.0-0' }} ml</h2>
      <h3>{{ formatTimeAgo(feed.timestamp) }}</h3>
      <p>
        <ion-icon name="{{ feed.type == 'smart' ? 'bluetooth' : 'hand' }}" item-left large></ion-icon>{{ feed.type == 'smart' ? 'Smart Bottle Tracker' : 'Manual' }}</p>
    </ion-item>
  </ion-card>

  <ion-fab right bottom #fab>

    <button ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>

    <ion-fab-list side="top">

      <button ion-fab (click)="addFeed();fab.close();">
        <ion-icon name="philips-baby-bottle"></ion-icon>
      </button>

      <button ion-fab (click)="showUnderConstructionAlert();fab.close();">
        <ion-icon name="heart"></ion-icon>
      </button>

    </ion-fab-list>
  </ion-fab>

</ion-content>