<ion-header>
  <ion-navbar>
    <ion-title>
      Timeline
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!sleevesService.isScanning" (click)="synchronizeFeeds();" ion-button icon-left>
        Sync
      </button>
      <button *ngIf="sleevesService.isScanning" ion-button>
        <ion-spinner name="dots"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-item (click)="addFeed()" *ngIf="(feeds | async)?.length == 0">
      <ion-icon color="primary" name="alert" item-left large></ion-icon>
      <h2>No feeds tracked yet</h2>
      <p>Tap to add a feed</p>
    </ion-item>

    <ion-item-sliding *ngFor="let feed of feeds | async">
      <ion-item (click)="openFeedModal(feed)">
        <ion-icon color="{{ feed.timestamp > (lastSyncTimestamp | async) ? 'primary' : 'grey' }}" name="philips-baby-bottle" item-left large></ion-icon>
        <h2 style="display:inline;">{{ feed.amount < 0 ? '--' : feed.amount < 5 ? '0' : feed.amount | number : '1.0-0' }} ml </h2>
            <p style="display:inline;" *ngIf="feed.duration"> in {{ feed.duration | number : '1.0-0' }} sec</p>
            <p>{{ formatTimeAgo(feed.timestamp) }}</p>
            <p item-end>
              <ion-icon name="{{ feed.type == 'smart' ? 'bluetooth' : 'hand' }}" item-left large></ion-icon>{{ feed.type == 'smart' ? 'Smart Bottle Tracker' : 'Manual' }}
            </p>
      </ion-item>

      <ion-item-options side="right">
        <!-- <button ion-button color="light" large >
          <ion-icon name="create"></ion-icon>
        </button> -->
        <button ion-button color="danger" (click)="deleteFeed(feed)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <!-- <ion-fab right bottom #fab>
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addFeed();fab.close();">
        <ion-icon name="philips-baby-bottle"></ion-icon>
      </button>
      <button ion-fab (click)="openSettings();fab.close();">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab> -->

</ion-content>