<ion-header>
  <ion-navbar>
    <ion-title>
      <!-- Philips Avent Sleeve -->
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="scan();fakeScan=true;">
        Scan
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="fakeScan">
    <img src="http://4.bp.blogspot.com/-7eawoY-q6Ag/UBJ-7poYw-I/AAAAAAAAArE/FV3B35GX5kQ/s1600/Cute-Baby-Facebook-Profile-banner.jpg"
    />
    <ion-card-header>
      Two new feeds available on your sleeve!
    </ion-card-header>

    <ion-item>

      <button ion-button icon-left clear item-end (click)="fakeScan=false;fakeFeeds=true;">
        <ion-icon name="sync"></ion-icon>
        Synchronize
      </button>
    </ion-item>

  </ion-card>
  
  <ion-card *ngFor="let feed of feeds | async">
    <ion-item>
      <ion-icon name="flask" item-left large></ion-icon>
      <h2>{{feed.amount}}</h2>
      <p>{{feed.type}}</p>
    </ion-item>
  </ion-card>
  
  <ion-list>
    <div *ngFor="let device of devices">
      <button ion-item (click)="connect(device)">
        <h2>{{ device.name || 'Unnamed' }}</h2>
        <p>{{ device.id }}</p>
        <p>RSSI: {{ device.rssi }}</p>
      </button>
      <button *ngIf="connectedDeviceId == device.id" ion-item (click)="disconnect(device)">
        Disconnect
      </button>

    </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab>
        <ion-icon name="heart"></ion-icon>
      </button>
      <button ion-fab (click)="addFeed()">
        <ion-icon name="flask"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>