<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center;">

    <img (click)="wiggleDetected();" class="qsg-gif" src="assets/imgs/qsg/QSG_Screen 7.1_7.2_Wiggle and Wiggle Detected.gif" />

    <h4 ion-text>Is the device recording?</h4>
    <p>
        To ensure long battery life, the lights are turned off as much as possible.
        Wiggle the device to check if the device is recording.
    </p>
    
</ion-content>

<ion-footer padding>
    <button color="{{ !wiggleIsDetected ? 'light' : 'secondary'}}" ion-button block icon-start>
        <ion-icon *ngIf="!wiggleIsDetected">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="wiggleIsDetected" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ !wiggleIsDetected ? 'Waiting for wiggle' : 'Wiggle detected' }}
    </button>
</ion-footer>