<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="qsg" padding no-bounce class="vertical-align-content">

    <div style="text-align:center;width:100%;">
        <img (click)="wiggleDetected();" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen 7.1_7.2_Wiggle and Wiggle Detected.gif"
        />
        <h1 ion-text>Is the device recording?</h1>
        <p>
            To ensure long battery life, the lights are turned off as much as possible. Wiggle the device to check if the device is recording.
        </p>
    </div>

</ion-content>

<ion-footer padding>
    <button color="{{ !wiggleIsDetected ? 'light' : 'secondary'}}" ion-button block icon-start>
        <ion-icon *ngIf="!wiggleIsDetected">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="wiggleIsDetected" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ !wiggleIsDetected ? 'Waiting for Wiggle' : 'Wiggle detected' }}
    </button>
</ion-footer>