<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="qsg" padding no-bounce class="vertical-align-content">

    <div style="text-align:center;width:100%;">
        <img (click)="wiggleDetected();" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen 7.1_7.2_Wiggle and Wiggle Detected.gif"
        />
        <h1 ion-text>Extra tip: Wiggle!</h1>
        <p>
            If you want to be sure that the Sleeve is tracking your feed. You can wiggle the Sleeve and the light will blink white to
            indicate it is tracking.
        </p>
    </div>

</ion-content>

<ion-footer padding>
    <button color="{{ !wiggleIsDetected ? 'light' : 'secondary'}}" (click)="nextStep();" ion-button block icon-start>
        <ion-icon *ngIf="!wiggleIsDetected">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="wiggleIsDetected" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ !wiggleIsDetected ? 'Waiting for Wiggle' : 'Wiggle detected' }}
    </button>
</ion-footer>