<ion-header>
    <ion-navbar>
        <ion-title>
            Devices
        </ion-title>
        <ion-buttons end>
            <button (click)="pair()" ion-button icon-left color="royal">
                Pair
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card (click)="pair()" *ngIf="(pairedSleeves | async)?.length == 0">
        <ion-item>
            <ion-icon color="primary" name="alert" item-left large></ion-icon>
            <h2>No devices paired yet</h2>
            <p >Tap to start pairing</p>
        </ion-item>
    </ion-card>

    <ion-card *ngFor="let sleeve of pairedSleeves | async" (click)="removeSleeve(sleeve)">
        <ion-item>
            <ion-icon color="primary" name="bluetooth" item-left large></ion-icon>
            <h2>Smart Bottle Tracker</h2>
            <p style="font-size:1rem">{{ sleeve._id }}</p>
            <p style="opacity:0.4">Tap to unpair</p>
            
        </ion-item>
    </ion-card>
</ion-content>