<ion-header>

    <ion-toolbar>
        <ion-title>
            Setup
        </ion-title>
        <ion-buttons start *ngIf="slides.getActiveIndex() > 0 && !hasPaired">
            <button ion-button icon-only (click)="slides.slidePrev()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons start *ngIf="slides.getActiveIndex() == 0">
            <button ion-button icon-only (click)="closeModal()">
                Close
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-slides pager style="background:white;" class="swiper-no-swiping">

    <ion-slide padding>

        <!-- <img *ngIf="slides.getActiveIndex()>=0" class="qsg-gif" src="assets/imgs/cute-baby-banner.jpg" /> -->

        <h1 ion-text>
            Setup your Smart Sleeve
        </h1>
        <p style="font-size:18px;">
            With the Smart Sleeve you can track your baby’s feeds.
        </p>

        <ion-item>
            <ion-icon name="philips-feed-time" color="primary" item-left></ion-icon>
            <ion-label class="fat-font">The time you started the feed</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="philips-feed-volume" color="primary" item-start></ion-icon>
            <ion-label class="fat-font">The volume of the feed</ion-label>
        </ion-item>
        <ion-item style="margin-bottom:60px;">
            <ion-icon name="philips-feed-duration" color="primary" item-start></ion-icon>
            <ion-label class="fat-font">The duration of the feed</ion-label>
        </ion-item>

        <!-- <p>
            The Smart Bottle Sleeve is compatible with Philips Avent 4oz/125ml Natural Plastic Bottles.
        </p> -->

        <ion-footer class="qsg" padding>
                <ion-item no-lines>
                        <ion-label style="font-size:1.3rem;" class="multi-line">I agree to securely share my tracked feeding data. This allows us to give you tailored insights and to improve
                            the product experience.</ion-label>
                        <ion-toggle [(ngModel)]="hasConsent"></ion-toggle>
                    </ion-item>
            <button (click)="nextSlide();" [disabled]="!hasConsent" ion-button block>Pair Smart Sleeve</button>
        </ion-footer>

    </ion-slide>




    <ion-slide padding>

        <img *ngIf="slides.getActiveIndex()>=0" class="qsg-gif" (click)="hasPaired=true;" src="assets/imgs/pairing/Pairing_SD-15fps.gif"
        />
        <h1>
            Pair the Smart Sleeve
        </h1>
        <p>
            Press and hold the button on the Smart Sleeve until
            <b>the light blinks blue</b>. Make sure the batteries are placed in the smart sleeve.
        </p>
        <p>
            Once the Smart Sleeve is succesfully paired, the light turns white
        </p>
        <ion-footer class="qsg" padding>

            <ion-item *ngIf="pairingTimeoutError" color="orange" style="border-radius:4px;">
                <ion-icon item-start name="alert"></ion-icon>
                <ion-label class="warning">
                    Please hold the button until it starts blinking blue again.
                </ion-label>
                <button ion-button item-end outline small color="white" (click)="showPairingErrorHints()">
                    Help
                </button>
            </ion-item>

            <ion-item *ngIf="bluetoothActivatedError" color="orange" style="border-radius:4px;">
                <ion-icon item-start name="alert"></ion-icon>
                <ion-label class="warning">
                    Bluetooth is turned off! Please turn on Bluetooth on your smartphone.
                </ion-label>
                <button ion-button item-end outline small color="white" (click)="showBluetoothErrorHints()">
                    Help
                </button>
            </ion-item>

            <button color="{{ hasPaired ? 'secondary' : 'light'}}" ion-button block icon-start (click)="(hasPaired && nextSlide()) || (!hasPaired && showDeviceActionToast())">
                <ion-icon *ngIf="!hasPaired">
                    <ion-spinner name="dots"></ion-spinner>
                </ion-icon>
                <ion-icon *ngIf="hasPaired" style="color:white;font-weight: bold" name="checkmark">
                </ion-icon>
                {{ hasPaired ? 'Succesfully Paired' : 'Scanning for your Sleeve' }}
            </button>
        </ion-footer>

    </ion-slide>

</ion-slides>