<ion-header>

    <ion-toolbar>
        <ion-title>
            Pairing
        </ion-title>
        <ion-buttons start *ngIf="slides.getActiveIndex() > 0 && !hasPaired">
            <button ion-button icon-only (click)="slides.slidePrev()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons start *ngIf="slides.getActiveIndex() == 0">
            <button ion-button icon-only (click)="closeModal()">
                Close
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-slides pager style="background:white;" class="swiper-no-swiping">

    <ion-slide padding>

        <!-- <img *ngIf="slides.getActiveIndex()>=0" class="qsg-gif" src="assets/imgs/cute-baby-banner.jpg" /> -->
        <h1 ion-text>
            Congratulations with your Smart Bottle Sleeve
        </h1>
        <p>
            With the Smart Bottle Sleeve you can track your baby’s feedings.
        </p>

        <ion-item>
            <ion-icon name="clock" color="primary" item-left></ion-icon>
            <ion-label>The time you started to feed</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="beaker" color="primary"  item-start></ion-icon>
            <ion-label>The volume of the feed</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="timer" color="primary"  item-start></ion-icon>
            <ion-label>The duration of the feed</ion-label>
        </ion-item>
        <p>
            The Smart Bottle Sleeve is compatible with Philips Avent 4oz/125ml Natural Plastic Bottles.
        </p>
        <ion-item>
            <ion-label style="font-size:1.3rem;" class="multi-line">I agree with sharing anonymous data to receive feed insights and to allow Philips to improve the product experience.</ion-label>
            <ion-toggle [(ngModel)]="hasConsent"></ion-toggle>
        </ion-item>

        <ion-footer class="qsg" padding>
            <button (click)="nextSlide();" [disabled]="!hasConsent" ion-button block>Pair Smart Bottle Sleeve</button>
        </ion-footer>

    </ion-slide>

    <ion-slide padding>

        <img *ngIf="slides.getActiveIndex()>=0" class="" (click)="hasPaired=true;" src="assets/imgs/pairing/image_pairing screen 6.0.svg" />
        <h1>
            Press and hold the button
        </h1>
        <p>
            Hold it until the blue light starts flashing. Make sure the batteries are placed in the device.
        </p>

        <ion-footer class="qsg" padding>

            <ion-item *ngIf="pairingTimeoutError" color="orange" style="border-radius:4px;">
                <ion-icon item-start name="alert"></ion-icon>
                <ion-label class="warning">
                    Please hold the button until it starts flashing blue again.
                </ion-label>
                <button ion-button item-end outline small color="white" (click)="showPairingErrorHints()">
                    Help
                </button>
            </ion-item>

            <ion-item *ngIf="bluetoothActivatedError" color="orange" style="border-radius:4px;">
                <ion-icon item-start name="alert"></ion-icon>
                <ion-label class="warning">
                    Bluetooth is turned off! Please turn on Bluetooth on your smartphone.
                </ion-label>
                <button ion-button item-end outline small color="white" (click)="showBluetoothErrorHints()">
                    Help
                </button>
            </ion-item>

            <button color="{{ hasPaired ? 'secondary' : 'light'}}" ion-button block icon-start (click)="(hasPaired && nextSlide()) || (!hasPaired && showDeviceActionToast())">
                <ion-icon *ngIf="!hasPaired">
                    <ion-spinner name="dots"></ion-spinner>
                </ion-icon>
                <ion-icon *ngIf="hasPaired" style="color:white;font-weight: bold" name="checkmark">
                </ion-icon>
                {{ hasPaired ? 'Succesfully Paired' : 'Scanning for your Sleeve' }}
            </button>
        </ion-footer>

    </ion-slide>

</ion-slides>