<ion-header>

    <ion-toolbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
        <ion-buttons start *ngIf="slides.getActiveIndex() > 0">
            <button ion-button icon-only (click)="slides.slidePrev()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-slides pager style="background:white;" class="swiper-no-swiping">

    <ion-slide padding>


        <img *ngIf="slides.getActiveIndex()>=QsgStep.REMOVE_CAP" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen 2.0_Remove-Cap.gif"
        />
        <h1 ion-text>
            Remove the Cap
        </h1>
        <p>
            We will weigh to measure the amount of milk. The weight of the cap disturbs the measurement.
        </p>

        <ion-footer class="qsg" padding>

            <ion-item color="orange" style="border-radius:4px;">
                <ion-icon item-start name="alert"></ion-icon>
                <ion-label class="warning">
                    Please retry on a flat and hard surface.
                </ion-label>
                <button ion-button item-end outline small color="white">
                    Help
                </button>
            </ion-item>
            
            <button (click)="slides.slideNext();" ion-button block>Next Step</button>
        </ion-footer>
    </ion-slide>

    <ion-slide padding>
        <img *ngIf="slides.getActiveIndex()>=QsgStep.PLACE_BOTTLE" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen-3.0_Insert-Bottle.gif"
        />
        <h1 ion-text>
            Insert the Bottle
        </h1>
        <p>
            After preparing your baby’s bottle, insert the bottle in the bottle tracker.
        </p>

        <ion-footer class="qsg" padding>
            <button (click)="slides.slideNext();" ion-button block>Next Step</button>
        </ion-footer>
    </ion-slide>

    <ion-slide padding>
        <img *ngIf="slides.getActiveIndex()>=QsgStep.WEIGH_BEFORE" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen-5.1_5.2_B-Weight-start-volume-on-table_cropped.gif"
        />
        <h1 ion-text>
            First Volume Measurement Before Feeding
        </h1>
        <p>
            Place the sleeve on a flat and hard surface and short press the button.
        </p>
        <p>
            The light turns green when the feed's volume measurement is successful.
        </p>
        <ion-footer class="qsg" padding>



            <button color="{{ hasMeasuredBefore ? 'secondary' : 'light'}}" ion-button block icon-start (click)="hasMeasuredBefore && slides.slideNext();">
                <ion-icon *ngIf="!hasMeasuredBefore">
                    <ion-spinner name="dots"></ion-spinner>
                </ion-icon>
                <ion-icon *ngIf="hasMeasuredBefore" style="color:white;font-weight: bold" name="checkmark">
                </ion-icon>
                {{ isMeasuringBefore ? 'Measuring' : hasMeasuredBefore ? 'Volume Measured' : 'Waiting for Button Press'}}
            </button>
        </ion-footer>
    </ion-slide>

    <ion-slide padding>
        <img *ngIf="slides.getActiveIndex()>=QsgStep.FEEDING" class="qsg-gif" src="assets/imgs/qsg/small/Smartsleeve_teaser_3.gif"
        />
        <h1 ion-text>
            Feeding
        </h1>
        <p>
            Hold the bottle in feeding position.
            <br>
            <b>After 10 seconds a feed will be detected.</b>
        </p>
        <p>
            The lights will be off while your tracking your baby's feeding.
        </p>
        <ion-footer class="qsg" padding>
            <button color="{{ !feedIsDetected ? 'light' : 'secondary'}}" (click)="feedIsDetected && slides.slideNext();" ion-button block
                icon-start>
                <ion-icon *ngIf="!feedIsDetected">
                    <ion-spinner name="dots"></ion-spinner>
                </ion-icon>
                <ion-icon *ngIf="feedIsDetected" style="color:white;font-weight: bold" name="checkmark">
                </ion-icon>
                {{ !feedIsDetected ? 'Waiting for Feeding' : 'Feed Detected' }}
            </button>
        </ion-footer>
    </ion-slide>

    <ion-slide padding>
        <img *ngIf="slides.getActiveIndex()>=QsgStep.WIGGLE" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen 7.1_7.2_Wiggle and Wiggle Detected.gif"
        />
        <h1 ion-text>
            Extra tip: Wiggle!
        </h1>
        <p>
            If you want to be sure that the Sleeve is tracking your feed. You can wiggle the Sleeve and the light will blink white to
            indicate it is tracking.
        </p>
        <ion-footer padding>
            <button color="{{ !wiggleIsDetected ? 'light' : 'secondary'}}" (click)="wiggleIsDetected && slides.slideNext();" ion-button
                block icon-start>
                <ion-icon *ngIf="!wiggleIsDetected">
                    <ion-spinner name="dots"></ion-spinner>
                </ion-icon>
                <ion-icon *ngIf="wiggleIsDetected" style="color:white;font-weight: bold" name="checkmark">
                </ion-icon>
                {{ !wiggleIsDetected ? 'Waiting for Wiggle' : 'Wiggle Detected' }}
            </button>
        </ion-footer>
    </ion-slide>

    <ion-slide padding>
        <img *ngIf="slides.getActiveIndex()>=QsgStep.WEIGH_AFTER" class="qsg-gif" src="assets/imgs/qsg/small/QSG_Screen 8.1_Finish Feeding.gif"
        />

        <h1 ion-text>
            Second Volume Measurement to Finish Feeding
        </h1>
        <p>
            Press the button shortly to finish the feed. The blinking white light indicates the Smart Bottle Sleeve is ready to measure
            the feed’s end volume.
        </p>
        <ion-footer class="qsg" padding>
            <button color="{{ hasMeasuredAfter ? 'purple' : 'light'}}" ion-button block icon-start (click)="hasMeasuredAfter && slides.slideNext();">
                <ion-icon *ngIf="!hasMeasuredAfter">
                    <ion-spinner name="dots"></ion-spinner>
                </ion-icon>
                <ion-icon *ngIf="hasMeasuredAfter" style="color:white;font-weight: bold" name="checkmark">
                </ion-icon>
                {{ isMeasuringAfter ? 'Measuring' : hasMeasuredAfter ? 'Volume Measured & Feeding Finished' : 'Waiting for Button Press'}}
            </button>
        </ion-footer>
    </ion-slide>

    <ion-slide padding>
        <img *ngIf="slides.getActiveIndex()>=QsgStep.SYNCHRHONIZE" style="width:50%;" src="assets/imgs/qsg/image_pairing screen.png"
        />

        <h1 ion-text>Syncing Data</h1>
        <p>
            After you've finished the feed, the data will be synced when opening the app.
        </p>
        <p>
            <b>The sleeve can store up to 100 feeds. The app is not needed while tracking the feed.</b>
        </p>
        <ion-footer class="qsg" padding>
            <button color="primary" (click)="gotoTimeline();" ion-button block icon-start>
                Go to Timeline
            </button>
        </ion-footer>
    </ion-slide>

</ion-slides>