<ion-header>
    <ion-navbar>
        <ion-title>
            Quick Start Guide
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="qsg" padding no-bounce class="vertical-align-content">

    <div style="text-align:center;width:100%;">
        <img (click)="feedDetected();" class="qsg-gif" src="assets/imgs/shark-milk.gif" />

        <h1 ion-text>Start feeding</h1>
        <p>
            Hold the bottle in feeding position.<br>
            <b>After 5 seconds a feed will be detected.</b>
        </p>
        <p>
           
        </p>
    </div>

</ion-content>

<ion-footer class="qsg" padding>
    <button color="{{ !feedIsDetected ? 'light' : 'secondary'}}" ion-button block icon-start>
        <ion-icon *ngIf="!feedIsDetected">
            <ion-spinner name="dots"></ion-spinner>
        </ion-icon>
        <ion-icon *ngIf="feedIsDetected" style="color:white;font-weight: bold" name="checkmark">
        </ion-icon>
        {{ !feedIsDetected ? 'Waiting for feeding' : 'Feed detected' }}
    </button>
</ion-footer>